.entries-all {
  display: grid;
  justify-content: center;
  background-color: #d3dedc;
}

.btn-new {
  border-radius: 10px;
  margin-bottom: 3px;
  margin-left: 10px;
  height: 3rem;
  width: 200px;
  font-size: 15px;
  font-family: "Neonderthaw", cursive;
  font-family: "Nunito", sans-serif;
}

.entries-all > h1 {
  margin-top: 10px;
}

.entries-all > p {
  margin-top: 10px;
}

.search-input {
  padding-left: 20px;
  justify-content: center;
  margin-bottom: 10px;
  width: 400px;
  height: 3rem;
  border-radius: 20px;
  margin-right: 20px;
}
