.title-App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.btn-container > button {
  background-image: linear-gradient(
    to right,
    #77a1d3 0%,
    #79cbca 51%,
    #77a1d3 100%
  );

  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;

  padding: 10px 10px 10px 10px;
  color: black;
  border-radius: 10px;
  font-family: "Mochiy Pop P One", sans-serif;
  font-family: "Sriracha", cursive;
}

.title-App > h1 {
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  font-family: "Mochiy Pop P One", sans-serif;
  font-family: "Sriracha", cursive;
}
.title-App > p {
  font-family: "Mochiy Pop P One", sans-serif;
  font-family: "Sriracha", cursive;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
}

.btn-start {
  padding-right: 0;
}

.container-image {
  display: flex;
  justify-content: center;
}
.image-logo {
  margin-top: 5rem;
  width: 300px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
}

.btn-container > button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.name-site {
  cursor: pointer;
}

.adding-back {
  background: url("https://i.pinimg.com/originals/e2/9d/92/e29d92b5d7cce1a0ea9e0974268c2411.jpg")
    center no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}
