.nav-principal {
  display: flex;
  justify-content: right;
}

.login {
  margin-right: 15px;
  font-size: 18px;
  font-family: "Mochiy Pop P One", sans-serif;
  cursor: pointer;
  color: #0f0e0e;
  margin-top: 15px;
  margin-bottom: 10px;
}

.signup {
  margin-right: 25px;
  font-size: 18px;
  font-family: "Mochiy Pop P One", sans-serif;
  cursor: pointer;
  color: #0f0e0e;
  margin-top: 15px;
  margin-bottom: 10px;
}

.logo-user {
  height: 35px;
  width: 35px;
  margin-top: 15px;
  margin-right: 7px;
  margin-bottom: 10px;
}
.logout-user {
  margin-top: 15px;
  height: 35px;
  width: 35px;
  margin-right: 7px;
}

#color-user {
  background: rgb(208, 121, 45);
  background: radial-gradient(
    circle,
    rgba(208, 121, 45, 1) 0%,
    rgba(148, 217, 233, 1) 100%
  );
}

.name-site {
  margin: auto;
  color: black;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 30px;
  border-radius: 30px;
}

.image-log {
  margin: 10px;
}
